<input type="text" class="form-control" placeholder="Search files..."(input)="filter($event)" >
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">titre</th>
        <th scope="col">entreprise</th>
        <th scope="col">etat</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of listEmploi" >
        <th >{{emp.reference}}</th>
        <td>{{emp.titre}}</td>
        <td>{{emp.entreprise}}</td>
        <td>{{emp.etat}}</td>
        <button [disabled]="emp.etat==false">Postuler</button>
     
      </tr>
    </tbody>
  </table>
  
  <button class="btn btn-primary"  type ="submit" (click)="calculer()">Bilan</button>
  <h5>liste d'emploi non cloturés  :  {{somme}}</h5>
